
input, textarea {
  color: #9356DC;
  font-size: 12px;
}

input:focus, textarea:focus {
  color: #9356DC;
}

input:hover, textarea:hover {
  color: #e2dedb;
  font-size: 12px;
}

input:hover:focus, textarea:hover:focus {
  color: #cbc6c1;
}
body {
  font-family: Roboto, sans-serif;
  background: #353535;
  color: #353535;
}

header {
 color: #99E2D0;
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 30px;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto;
}

input {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  width: 400px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;
  outline: none;
  color: #726659;
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #FF79DA;
  color: #e2dedb;
}

textarea {
  width: 400px;
  max-width: 470px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;
  outline: none;
  
  color: #726659;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #FF79DA;
  color: #e2dedb;
}

#submit {
  width: 432px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  
  font-family: Roboto, sans-serif;
  font-size: 12px;
  color: white;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: black;
}
